/* @font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "OpenDyslexic";
  src: url("https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic/fonts/OpenDyslexic-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#dys_container {
  font-family: "OpenDyslexic", Arial, sans-serif;
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#dyslexia-ease {
  font-family: "OpenDyslexic", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  color: #ffffff;
  background-color: #0d8ef8;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

#toolbar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

button {
  /* background-color: #ffffff; */
  border: none;

  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
}

button i {
  color: #4caf50;
}

/*========Dark Sidebar==========*/
.toggle-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: OpenDyslexic, Arial;
  font-size: 16px;
}

/* Label */
.toggle-label {
  margin-right: 10px;
  font-weight: bold;
}

/* Toggle switch styling */
.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Checked state */
input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

#more-info{
  font-size: 17px;
  letter-spacing: 0.05em;
  line-height: 1.1;
  padding-left: 10%;
  padding-right: 10%;
}